# for loop

In [1]:
cities=['Banglore','Delhi','Mumbai','Agra','Noida']

In [2]:
print(cities)

['Banglore', 'Delhi', 'Mumbai', 'Agra', 'Noida']

In [3]:
for names in cities:
    print(names)

Banglore
Delhi
Mumbai
Agra
Noida

In [4]:
salaries=[1500,2000,2500,3000,3500,4000,4500]

In [5]:
for salary in salaries:
    if salary >=2500:
        print(salary)

2500
3000
3500
4000
4500

In [6]:
student_marks=[25,5,86,97,89,47,34,47,4,8,34,25,17,80,56,78,34,78,98,93,73,19,100,54]

In [7]:
for marks in student_marks:
    if marks>70:
        print(marks,'-distinctions')
        
    elif marks>60 and marks<70:
        print(marks,'-first class')
        
    elif marks>50 and marks<60:
        print(marks,'-second class')\
        
    if marks<50:
            if marks>35 and marks<50:
                print(marks,'-pass')
            else:
                print(marks,'-fail,study!')

25 -fail,study!
5 -fail,study!
86 -distinctions
97 -distinctions
89 -distinctions
47 -pass
34 -fail,study!
47 -pass
4 -fail,study!
8 -fail,study!
34 -fail,study!
25 -fail,study!
17 -fail,study!
80 -distinctions
56 -second class
78 -distinctions
34 -fail,study!
78 -distinctions
98 -distinctions
93 -distinctions
73 -distinctions
19 -fail,study!
100 -distinctions
54 -second class

# for loop with else

In [8]:
numbers=[1,2,3,4,5,6,7,8,9]

In [9]:
for num in numbers:
    print('multiplication table for', num)
    for m in range(1,11):
        print(num*m)
        if m==10:
            print('\n')
            
else:
    print('*'*20)
    print('end of multiplication table')
    print('*'*20)

multiplication table for 1
1
2
3
4
5
6
7
8
9
10


multiplication table for 2
2
4
6
8
10
12
14
16
18
20


multiplication table for 3
3
6
9
12
15
18
21
24
27
30


multiplication table for 4
4
8
12
16
20
24
28
32
36
40


multiplication table for 5
5
10
15
20
25
30
35
40
45
50


multiplication table for 6
6
12
18
24
30
36
42
48
54
60


multiplication table for 7
7
14
21
28
35
42
49
56
63
70


multiplication table for 8
8
16
24
32
40
48
56
64
72
80


multiplication table for 9
9
18
27
36
45
54
63
72
81
90


********************
end of multiplication table
********************

In [10]:
numbers=[21,22,23,24,25,26,27,28,29]

In [11]:
for digit in numbers:
    print('table for-', digit)
    for e in range(1,11):
        print(digit*e)
        if e==10:
            print('\n')

table for- 21
21
42
63
84
105
126
147
168
189
210


table for- 22
22
44
66
88
110
132
154
176
198
220


table for- 23
23
46
69
92
115
138
161
184
207
230


table for- 24
24
48
72
96
120
144
168
192
216
240


table for- 25
25
50
75
100
125
150
175
200
225
250


table for- 26
26
52
78
104
130
156
182
208
234
260


table for- 27
27
54
81
108
135
162
189
216
243
270


table for- 28
28
56
84
112
140
168
196
224
252
280


table for- 29
29
58
87
116
145
174
203
232
261
290

# While loop

In [26]:
q=0

In [27]:
while q<10:
    q=q+1
    print('dt')

dt
dt
dt
dt
dt
dt
dt
dt
dt
dt

In [28]:
i=0

In [29]:
while i<10:
    i=i+1
    print(i,'dt')

1 dt
2 dt
3 dt
4 dt
5 dt
6 dt
7 dt
8 dt
9 dt
10 dt

In [30]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=20, tm_hour=15, tm_min=55, tm_sec=55, tm_wday=3, tm_yday=293, tm_isdst=0)

In [33]:
while True:
    result=time.localtime()
    if result.tm_hour==15 and result.tm_min==59:
        print('wake up!')
        break

wake up!

# Enumerate

In [34]:
students=['arun','hrithik','mukul','gaurav']

In [35]:
for name in enumerate(students):
    print(name)

(0, 'arun')
(1, 'hrithik')
(2, 'mukul')
(3, 'gaurav')

In [36]:
students.sort()

In [37]:
students

['arun', 'gaurav', 'hrithik', 'mukul']

In [41]:
for name in enumerate(students):
    print(name)

(0, 'arun')
(1, 'gaurav')
(2, 'hrithik')
(3, 'mukul')

In [42]:
for name in enumerate(students,1):
    print(name)

(1, 'arun')
(2, 'gaurav')
(3, 'hrithik')
(4, 'mukul')

# zip

In [47]:
students=['arun','hrithik','mukul','gaurav']
marks=[10,9,10,1]

In [48]:
student_details=list(zip(students,marks))

In [49]:
student_details

[('arun', 10), ('hrithik', 9), ('mukul', 10), ('gaurav', 1)]

# unzip

In [51]:
students,marks=zip(*student_details)

In [52]:
students

('arun', 'hrithik', 'mukul', 'gaurav')

In [53]:
marks

(10, 9, 10, 1)

# break

In [64]:
cities=['delhi','noida','mumbai','banglore','ranchi']

In [67]:
for imp in cities:
    if imp=='banglore':
        print(imp)

banglore

In [68]:
for imp in cities:
    if imp=='ranchi':
        break
    print(imp)

delhi
noida
mumbai
banglore

In [81]:
student_marks=[25,5,86,97,89,47,34,47,4,8,34,25,17,80,56,78,34,78,98,93,73,19,100,54]

In [82]:
student_marks

[25,
 5,
 86,
 97,
 89,
 47,
 34,
 47,
 4,
 8,
 34,
 25,
 17,
 80,
 56,
 78,
 34,
 78,
 98,
 93,
 73,
 19,
 100,
 54]

In [110]:
for marks in student_marks:
    if marks>25:
        continue
    print(marks)

25
5
4
8
25
17
19

In [112]:
salary=[2000,3000,4000,4500,5000,7000,3500]

In [115]:
for val in salary:
    if val>4000:
        break
    print(val)

2000
3000
4000

# function

In [124]:
def say_hello():
    print('this is just an example')

In [126]:
say_hello()

this is just an example

In [127]:
def greeting(name):
    print('hello', name)

In [128]:
greeting('good afternoon')

hello good afternoon

In [132]:
 def salary_incr(fixed_salary,house_rent):
        total_sal=(fixed_salary+house_rent)
        
        if total_sal<=9000:
            total_sal+1000
            
        else:
            total_sal

In [133]:
print('your new salary=', salary_incr(6000,2000))

your new salary= None

In [138]:
def salary_incr(fixed_salary,house_rent):
    total_sal=(fixed_salary+house_rent)
    
    if total_sal<=9000:
        return total_sal+1000
    else:
        return total_sal

In [142]:
print('your new salary=',salary_incr(5500,2000))

your new salary= 8500