# functions

In [41]:
def say_hello():
    print('this is just an example')

In [42]:
say_hello()

this is just an example

In [43]:
def greeting(name):
    print('hello',name)

In [44]:
greeting('good morning')

hello good morning

In [45]:
def sal_incr(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal<=9000:
        total_sal+1000
    
    else:
        total_sal+500

In [46]:
print('your new salary-',sal_incr(2000,6000))

your new salary- None

In [47]:
def sal_incr(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal<=9000:
        return total_sal+1000
    
    else:
        return total_sal+500

In [48]:
print('your new salary-',sal_incr(6000,4000))

your new salary- 10500

In [95]:
def used_car_price(year,brand,kms):
    if year==2020:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 100000 -rs 150000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 110000 -rs 140000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 200000 -rs 250000')
        else:
            print('no stock available right now, please visit after few days')
            
    elif year==2019:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 800000 -rs 1100000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 700000 -rs 1000000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 1800000 -rs 2100000')
        else: print('no stock available right now, please visit after few days')
9           
    else:
        print ("sorrry, we don't have required car in stocks")

In [99]:
 
used_car_price(2020,'honda_civic',13000)

rs 100000 -rs 150000

In [97]:
used_car_price(2019,'audi_q7',11000)

rs 1800000 -rs 2100000

# lambda function

In [100]:
lambda arguments : expression

In [101]:
add_num=lambda y:y+70

In [102]:
print(add_num(30))

100

In [103]:
num=lambda a,b:a*b

In [104]:
print(num(70,49))

3430

In [109]:
f=lambda b,c:b/c

In [110]:
print(f(10,2))

5.0

## *args and **kwargs

In [111]:
def my_fun(*args):
    for i in args:
        print('my args', i)

In [112]:
my_fun('india','delhi',110059,432,18,95)

my args india
my args delhi
my args 110059
my args 432
my args 18
my args 95

In [116]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        
        print (key,'=',value)

In [117]:
my_kwargs(students=['ramesh','shekhar'],marks=[70,75])

students = ['ramesh', 'shekhar']
marks = [70, 75]

# string indexing

In [120]:
s='this batch rocks'

In [122]:
s[1:7]

'his ba'

In [123]:
s[0:14:2]

'ti ac o'

In [124]:
s[1:15:3]

'h t c'

## map

In [126]:
def grace_marks(marks):
    if marks==33:
        return (marks+2)
    elif marks==34:
        return (marks+1)
    
    else:
        return marks

In [127]:
score=[53,35,33,23,32,34,35]

In [128]:
total=list(map(grace_marks,score))

print(total)

[53, 35, 35, 23, 32, 35, 35]

## filter

In [130]:
# filter(function,data)

In [143]:
def filter_marks(marks):
    if marks<35:
        return marks

In [144]:
-vscore=[53,35,33,23,32,34,35]

In [147]:
failed= list(filter(filter_marks,score)

SyntaxError: unexpected EOF while parsing (270030728.py, line 1)

In [148]:
def filter_marks(marks):
    if marks<35:
        return marks

In [149]:
score=[23,25,75,54,35,44,34,35,76]

In [153]:
failed=list(filter(filter_argument,score))

failed

NameError: name 'filter_argument' is not defined

In [158]:
def filter_marks(f):
    if f<35:
        return f

In [159]:
score=[50,34,32,33,31,35]

In [160]:
failed=list(filter(filter_marks,score))

failed

TypeError: filter() takes 1 positional argument but 2 were given

### diff. between map and filter

In [161]:
12381274%2

0

In [162]:
123781%2

1

In [163]:
list(map(lambda var: var%2 ==0, [1,2,3,4,5,6,7]))

[False, True, False, True, False, True, False]

In [164]:
list(filter(lambda var: var%2==0,[1,2,3,4,5,6,7]))

TypeError: filter() takes 1 positional argument but 2 were given

In [180]:
def local_global():
    global var12
    var12= "this is fantastic"
    print(var12)
    
local_global()

this is fantastic

In [181]:
var12

'this is fantastic'

In [182]:
var12

'this is fantastic'

In [185]:
def local_var():
    global f1
    f1= 'this should work'
    print(f1)
    
local_var()

this should work

In [186]:
f1

'this should work'

# input

In [188]:
name=input()

gjknawijoesrg

In [1]:
name=input('chekoslovakiya ')

('user entered',name)

chekoslovakiya missippi

('user entered', 'missippi')

In [192]:
name=input('enter your name ')

('user entered', name)

enter your name Arun

('user entered', 'Arun')

In [194]:
maths=int(input('enter your maths score'))
science=int(input('enter your science score'))
total_marks= maths + science

enter your maths score69
enter your science score69

In [196]:
toal_marks= maths+science

In [197]:
total_marks

138

In [198]:
maths=int(input('enter your maths score'))
science=int(input('enter your science score'))
total_marks= maths + science

('your total marks-',total_marks)

enter your maths score50
enter your science score50

('your total marks-', 100)

In [201]:
name=input('enter your name')
if name.isalpha():
    print('you entered-',name)
else:
    print('enter alphabetical characters only')

enter your name1234567
enter alphabetical characters only

In [210]:
def used_car_price(year,brand,kms):
    if year==2020:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 100000 -rs 150000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 110000 -rs 140000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 200000 -rs 250000')
        else:
            print('no stock available right now, please visit after few days')
            
    elif year==2019:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 800000 -rs 1100000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 700000 -rs 1000000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 1800000 -rs 2100000')
        else: print('no stock available right now, please visit after few days')
        
    else:
        print ("sorrry, we don't have required car in stocks")

In [211]:
brand=input('enter car brand-')
kms=input('enter kilometers-')
year=input('enter manufacturing year-')

used_car_price(year,brand,kms)

enter car brand-honda_civic
enter kilometers-14000
enter manufacturing year-2019
sorrry, we don't have required car in stocks