# Encapsulation

In [1]:
class tyres:
    def __init__ (self, brand, belted_bias,opt_pressure):
        self.brand=brand
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return ('tyre: \n brand:'+ self.brand+ '\n belted bias:'+str(self.belted_bias)+'\n optimum pressure:'+str(self.opt_pressure))
    
    
    
class engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
        
    def __str__(self):
        return("engine: \n fuel type:"+self.fuel_type+'\n noise level:'+str(self.noise_level))
    
class body:
    def __init__(self, size):
        self.size=size
    def __str__(self):
        return("Body: \n Size:"+self.size)
    
class car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body
    def __str__(self):
        return str(self.tyres)+ '\n' + str(self.engine) + '\n' +str(self.body)
    
t=tyres('ceat','yes',36)
e=engine('petrol',1.4)
b=body('hatchbag')

c=car(t,e,b)
print(c)

tyre:
 brand:ceat
 belted bias:yes
 optimum pressure:36
engine:
 fuel type:petrol
 noise level:1.4
Body:
 Size:hatchbag

In [3]:
import sqlite3
db=sqlite3.connect('student_database.db')

In [4]:
cursor=db.cursor()

In [4]:
cursor.execute("CREATE TABLE student_learningdata(phone_number INT PRIMARY KEY, email_id TEXT,course_name TEXT, fee_paid INT)")

In [5]:
cursor.execute("INSERT INTO student_learningdata(phone_number,email_id,course_name,fee_paid) VALUES(1234,'abc9@gmai.com','data sciende',50000)")

db.commit()

In [6]:
print(cursor.rowcount)

1

In [8]:
result=cursor.execute(' SELECT * FROM student_learningdata')
for r in result:
    print(r)

(1234, 'abc9@gmai.com', 'data sciende', 50000)

In [9]:
cursor.execute("INSERT INTO student_learningdata VALUES(0987654321,'qwerty123@gmail.com','data science',50000),(482959,'mukul@gmail.com','software developer',100000)")

db.commit()

In [11]:
print(cursor.rowcount,'record(s) inserted')

2 record(s) inserted

In [18]:
with open('practice.txt','r') as file:
    no_records=0
    for row in file:
        cursor.execute('INSERT INTO student_learningdata VALUES (?,?,?,?)',row.split(","))
        db.commit()
        no_records +=1
        
print(no_records,'records inserted')

20 records inserted

In [20]:
results= cursor.execute('SELECT * FROM student_learningdata')
for r in results:
    print(r)

(1234, 'abc9@gmai.com', 'data sciende', 50000)
(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [5]:
ty= cursor.execute('select * from student_learningdata ')
for r in ty:
    print (r)

(1234, 'abc9@gmai.com', 'data sciende', 50000)
(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)