# Dictionary

In [93]:
dictionary={'key1':'value1','key2':'value2'}

In [31]:
type(dictionary)

dict

In [32]:
dictionary={'roll_no':18,'subject':['maths','science','english'],'marks':[17,18,19]}

In [33]:
dictionary

{'roll_no': 18,
 'subject': ['maths', 'science', 'english'],
 'marks': [17, 18, 19]}

In [34]:
dictionary['marks']

[17, 18, 19]

In [35]:
dictionary['subject'][0]

'maths'

In [36]:
dictionary['subject'][0]=dictionary['subject'][0]

In [37]:
dictionary['marks'][2]=dictionary['marks'][2]+1

In [38]:
dictionary['marks']

[17, 18, 20]

In [39]:
dictionary['marks'][0]=dictionary['marks'][0]+1

In [40]:
dictionary['marks'][1]=dictionary['marks'][1]+1

In [41]:
dictionary['marks']

[18, 19, 20]

In [42]:
dictionary['marks'][1]*2

38

In [43]:
dictionary['marks']

[18, 19, 20]

In [44]:
dictionary['marks'][1]+1

20

In [45]:
dictionary['marks']

[18, 19, 20]

In [46]:
dictionary['marks'][0]+=1

In [47]:
dictionary['marks']

[19, 19, 20]

In [48]:
dictionary['marks'][0]-=1

In [49]:
dictionary['marks']

[18, 19, 20]

In [50]:
dictionary['year']='3rd'

In [51]:
dictionary

{'roll_no': 18,
 'subject': ['maths', 'science', 'english'],
 'marks': [18, 19, 20],
 'year': '3rd'}

In [52]:
dictionary.update({'year':'4th'})

In [53]:
dictionary

{'roll_no': 18,
 'subject': ['maths', 'science', 'english'],
 'marks': [18, 19, 20],
 'year': '4th'}

In [54]:
dictionary['year']='3rd'

In [55]:
dictionary

{'roll_no': 18,
 'subject': ['maths', 'science', 'english'],
 'marks': [18, 19, 20],
 'year': '3rd'}

In [56]:
dictionary.keys()

dict_keys(['roll_no', 'subject', 'marks', 'year'])

In [57]:
dictionary.values()

dict_values([18, ['maths', 'science', 'english'], [18, 19, 20], '3rd'])

In [58]:
dictionary.items()

dict_items([('roll_no', 18), ('subject', ['maths', 'science', 'english']), ('marks', [18, 19, 20]), ('year', '3rd')])

In [59]:
dictionary

{'roll_no': 18,
 'subject': ['maths', 'science', 'english'],
 'marks': [18, 19, 20],
 'year': '3rd'}

# Else, If ,Elif

In [65]:
i=9


if i<10:
    print('it is less than 10')
    
else: 
    print('something else')

it is less than 10

In [68]:
print('it is less than 10') if i<10 else print('it is something else')

it is less than 10

In [72]:
a=80

In [73]:
print('it is less than 20') if a<20 else print('it is something else')

it is something else

In [76]:
k=18

if k>50:
    print('it is greater than 50')
    
else:
    print('it is less than 50')

it is less than 50

In [77]:
item1=500
item2=400

if (item1+item2)>=1000:
    print('your order is eligible for free shipping')

else:
    extra=1000-(item1+item2)
    print('please add', extra,'rs worth item to get free shipping')

please add 100 rs worth item to get free shipping

In [79]:
item1=70
item2=500

if(item1+item2)>=1200:
    print('your item is eligible for free shipping')
    
else:
    more=1200-(item1+item2)
    print('please add',more,'rs worth items to avail free shipping')

please add 630 rs worth items to avail free shipping

In [80]:
a=20
b=30
c=50

if a>b and c<b:
    print('both the conditions are true')
else:
    print('both conditions are false')

both conditions are false

In [82]:
a=20
b=30
c=50

if a<b or c<b:
    print('both the conditions are true')
else:
    print('both conditions are false')

both the conditions are true

In [92]:
marks=30

if marks>=60:
    if marks>70:
        print(marks,'-distinction')
    else:
        print(marks,'-first class')
        
elif marks>50 and marks<60:
    print(marks,'-second class')
      
elif marks>=35:
    print(marks,'-pass')
    
else:
    print(marks,'-fail, study')

30 -fail, study

# Range

In [94]:
print(range(324923355024))

range(0, 324923355024)

In [96]:
print(list(range(890)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889]

In [99]:
print(list(range(1234567)))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [109]:
step_size =list(range(1,30,2))

In [110]:
step_size

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [111]:
step_size=list(range(1,30,3))

In [112]:
print(step_size)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [115]:
step_size.reverse()

In [116]:
step_size

[28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [120]:
reverse=list(range(30,1,-2))

In [121]:
reverse

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [128]:
 salary=[10000,15000,20000,25000,30000,35000,40000,45000,50000,55000]

# for loop

In [129]:
salary

[10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000]

In [130]:


for val in salary:
    if val>=30000:
        print(val)

30000
35000
40000
45000
50000
55000

In [131]:
salary.index(55000)

9

In [132]:
salary.reverse()

In [133]:
salary

[55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000]

In [134]:
salary.sort()

In [135]:
salary

[10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 55000]

In [136]:
salary.reverse()

In [146]:
salary

[55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000]

In [148]:
student_marks=[40,94,83,23,95,80,69,59,45,51,95,95,50,29,91,59,39,78]

In [150]:
for marks in student_marks:
    
    if marks>=70:
        print(marks,'-distinction')
        
    elif marks>60 and marks<70:
        print(marks,'-fisrt class')
        
    elif marks>50 and marks<60:
        print(marks,'-second class')
        
    elif marks>35 and marks<50:
        print(marks,'-pass')
        
    elif marks<35:
        print(marks,'fail, study!')

TypeError: 'int' object is not iterable

In [151]:
student_marks=[40,94,83,23,95,80,69,59,45,51,95,95,50,29,91,59,39,78]

for marks in student_marks:
    
    if marks>=70:
        print(marks,'-distinction')
        
    elif marks>60 and marks<70:
        print(marks,'-fisrt class')
        
    elif marks>50 and marks<60:
        print(marks,'-second class')
        
    elif marks>35 and marks<50:
        print(marks,'-pass')
        
    elif marks<35:
        print(marks,'fail, study!')

40 -pass
94 -distinction
83 -distinction
23 fail, study!
95 -distinction
80 -distinction
69 -fisrt class
59 -second class
45 -pass
51 -second class
95 -distinction
95 -distinction
29 fail, study!
91 -distinction
59 -second class
39 -pass
78 -distinction

# list comprehension

In [152]:
 salary=[10000,15000,20000,25000,30000,35000,40000,45000,50000,55000]
    
sal=[val for val in salary if val>30000]

In [153]:
sal

[35000, 40000, 45000, 50000, 55000]