# functions

In [41]:
def say_hello():
    print('this is just an example')

In [42]:
say_hello()

this is just an example

In [43]:
def greeting(name):
    print('hello',name)

In [44]:
greeting('good morning')

hello good morning

In [45]:
def sal_incr(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal<=9000:
        total_sal+1000
    
    else:
        total_sal+500

In [46]:
print('your new salary-',sal_incr(2000,6000))

your new salary- None

In [47]:
def sal_incr(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal<=9000:
        return total_sal+1000
    
    else:
        return total_sal+500

In [48]:
print('your new salary-',sal_incr(6000,4000))

your new salary- 10500

In [95]:
def used_car_price(year,brand,kms):
    if year==2020:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 100000 -rs 150000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 110000 -rs 140000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 200000 -rs 250000')
        else:
            print('no stock available right now, please visit after few days')
            
    elif year==2019:
        if brand=='honda_civic':
            if 15000>kms>10000:
                print('rs 800000 -rs 1100000')
        elif brand=='hyundai_creta':
            if 15000>kms>10000:
                print('rs 700000 -rs 1000000')
        elif brand=='audi_q7':
            if 15000>kms>10000:
                print('rs 1800000 -rs 2100000')
        else: print('no stock available right now, please visit after few days')
9           
    else:
        print ("sorrry, we don't have required car in stocks")

In [99]:
 
used_car_price(2020,'honda_civic',13000)

rs 100000 -rs 150000

In [97]:
used_car_price(2019,'audi_q7',11000)

rs 1800000 -rs 2100000

# lambda function

In [100]:
lambda arguments : expression

In [101]:
add_num=lambda y:y+70

In [102]:
print(add_num(30))

100

In [103]:
num=lambda a,b:a*b

In [104]:
print(num(70,49))

3430

In [109]:
f=lambda b,c:b/c

In [110]:
print(f(10,2))

5.0

## *args and **kwargs

In [111]:
def my_fun(*args):
    for i in args:
        print('my args', i)

In [112]:
my_fun('india','delhi',110059,432,18,95)

my args india
my args delhi
my args 110059
my args 432
my args 18
my args 95

In [116]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        
        print (key,'=',value)

In [117]:
my_kwargs(students=['ramesh','shekhar'],marks=[70,75])

students = ['ramesh', 'shekhar']
marks = [70, 75]

# string indexing

In [120]:
s='this batch rocks'

In [122]:
s[1:7]

'his ba'

In [123]:
s[0:14:2]

'ti ac o'

In [124]:
s[1:15:3]

'h t c'

## map

In [125]:
def grace_marks(marks):
    if marks==33:
        return (marks+2)
    elif marks==34:
        return (marks+1)
    
    else:
        return marks