# 30 Oct.

In [2]:
import sqlite3
db=sqlite3.connect('student_database.db')

In [3]:
cursor=db.cursor()

In [4]:
results= cursor.execute('SELECT * FROM student_learningdata')
for r in results:
    print(r)

(1234, 'abc9@gmai.com', 'data sciende', 50000)
(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [20]:
ds=cursor.execute("SELECT *FROM student_learningdata WHERE course_name = 'Digital Marketing'")
for result in ds:
    print(result)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)

In [21]:
sql="SELECT *FROM student_learningdata WHERE course_name = 'Data Science'"
result= cursor.execute(sql)
for row in result:
    print(row)

(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [38]:
fee="SELECT * FROM student_learningdata WHERE fee_paid >= 70000"
results=cursor.execute(fee)
for paid in results:
    print(paid)

(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)

In [39]:
delete=cursor.execute("DELETE FROM student_learningdata WHERE email_id = 'abc9@gmai.com'")

In [40]:
new=cursor.execute('select * from student_learningdata')
for d in new:
    print(d)

(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

# order by

In [41]:
order=cursor.execute("select * from student_learningdata order by fee_paid")
for o in order:
    print(o)

(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)

In [42]:
order=cursor.execute("select * from student_learningdata order by fee_paid desc")
for o in order:
    print(o)

(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)

In [45]:
cursor.execute('UPDATE student_learningdata SET course_name= "Digital Marketing" WHERE phone_number= 9988776622')

In [46]:
update=cursor.execute('SELECT *from student_learningdata')
for new in update:
    print(new)

(987654321, 'qwerty123@gmail.com', 'data science', 50000)
(482959, 'mukul@gmail.com', 'software developer', 100000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Digital Marketing', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [47]:
update=cursor.execute('SELECT *from student_learningdata WHERE phone_number=9988776622')
for new in update:
    print(new)

(9988776622, 'student22@gmail.com', 'Digital Marketing', 23000)

In [50]:
notify=("SELECT phone_number,email_id,fee_paid FROM student_learningdata WHERE course_name='Data Science' AND fee_paid<=50000")
new=cursor.execute(notify)
for n in new:
    print(n)

(9988776606, 'student6@gmail.com', 34000)
(9988776607, 'student7@gmail.com', 33000)
(9988776609, 'student9@gmail.com', 40000)
(9988776611, 'student11@gmail.com', 41500)
(9988776614, 'student14@gmail.com', 24000)
(9988776615, 'student15@gmail.com', 23000)
(9988776617, 'student17@gmail.com', 29000)
(9988776623, 'student23@gmail.com', 24000)

In [51]:
notify=("SELECT phone_number,course_name,fee_paid FROM student_learningdata WHERE course_name='Data Science' AND fee_paid<=50000")
new=cursor.execute(notify)
for n in new:
    print(n)

(9988776606, 'Data Science', 34000)
(9988776607, 'Data Science', 33000)
(9988776609, 'Data Science', 40000)
(9988776611, 'Data Science', 41500)
(9988776614, 'Data Science', 24000)
(9988776615, 'Data Science', 23000)
(9988776617, 'Data Science', 29000)
(9988776623, 'Data Science', 24000)

In [54]:
cursor.execute("UPDATE student_learningdata SET fee_paid=110000 WHERE phone_number IN (9988776611,9988776609)")

In [55]:
p= cursor.execute('select * from student_learningdata where fee_paid=110000')
for n in p:
    print(n)

(9988776609, 'student9@gmail.com', 'Data Science', 110000)
(9988776611, 'student11@gmail.com', 'Data Science', 110000)